@{
    Layout = null;
}

<style>
    .background {
        background-image: url("../img/bg-01.jpg");
        background-size: cover;
    }
    .mainDiv {
        position: absolute;
        top: 35%;
        left: 35%;
        background-color: rgba(0, 0, 0, 0.45);
        padding: 40px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .text1{
        color:aliceblue;
        font-size:20px;
    }
    .text2 {
        color: aliceblue;
        font-size: 15px;
    }
    .loginButton{
        position:absolute;
        right:20px;
        top:20px;
    }
</style>

<body class="background">
</body>
<a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
    <img class="loginButton" src="https://img.icons8.com/ios/50/000000/enter-2.png" /></a>

    <div class="mainDiv">
        <p class="text1">Please Sign In To Use Our Services!</p>
        <p class="text2">If You Dont Have An Account With Us <b><a class="alert-light" asp-area="Identity" asp-page="/Account/Register">CLICK HERE</a></b></p>
    </div>
