@model QuizMaster.Models.Instructor

@{
    ViewData["Title"] = "Details";
}

<h1>Home</h1>
<style>
    .wombo {
        position: relative;
        right: 0px;
        top: 40px;
        font-size:larger;
    }
</style>

<div>
    <h4>Instructor</h4>
    <hr />
        
</div>

<div class="wombo">
    <a asp-action="ViewStudents"><p>View Students</p></a>
    <a asp-action="CheckMessages"><p>Check messages</p></a>
    <a asp-action="SendMessage"><p>Send message</p></a>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.InstructorId">Edit</a> |
        <a asp-action="Index">Back to List</a>*@
</div>
